<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: chartreuse;
            padding: 50px;
            
        }
        body{
            background-color: cyan;
        }
    </style>
</head>
<body>
    <center>
        <h1>happy sunday </h1>
        <h1>rainy sunday</h1>
    </center>
    <marquee behavior="" direction=""><h2>joyboy</h2></marquee>

    
</body>
</html>